<div #myToast class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-body"> 
    <strong class="me-auto">Roster is Publised for {{month}}</strong> 
    <button type="button" class="btn-close float-end" data-bs-dismiss="toast" aria-label="Close"></button>
  </div> 
</div>
<div #toastWarning class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-body"> 
    <strong class="me-auto">Cannot update the roster as current date is <b></b>{{currentDate.format('MMMM DD YYYY')}}</strong>  
  </div> 
</div>

@if(apiResponse == '404'){
  <h1>Not an Admin User</h1>
}@else if(responseLength > 0){  
  <div class="container-fluid">  
    <table class="table mt-3">  
      <thead class="p-0 m-0"> 
        <tr class="head-section"> 
            <th class="name-title">Name</th>
            @for (day of date.slice(initial, final); track day){
              <th *ngIf="day" class="text-center "> 
                {{ day.day }}  
                <br> 
              <small>{{day.date}}</small>  

                </th>  
            }   
        </tr> 
        <br>
      </thead> 
      <tbody class="table-body">
        @for (item of rosterData; track item.roster) {

          <tr *ngIf="item" class="">
            <td *ngIf="item" class="username-column" >
              <b>{{ item.username }}</b> 
              <a type="button" class="ps-2" (click)="updateSelected(item.userId)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                </svg>
              </a>
            </td>
            @for (data of item.roster.slice(initialRoster, finalRoster + nullCount); track data?.dayNumber) {
              <td *ngIf="data">
                <select class="cal-input" [(ngModel)]="data.option" (change)="sendMessage()" [style.backgroundColor]="data.option == 'PH' ? '#4DFF3D': data.option == 'CO'? '#FDE253': data.option == 'L'? '#FF5858' :  data.weekday == 'Sat' || data.weekday == 'Sun'? '#B6D7A8': 'transparent' && data.option == 'WO' ? '#B6D7A8': 'transparent'" data-bs-toggle="dropdown" aria-expanded="false">
                  <option [value]="data.option" selected>{{ data.option ? data.option : data.dayNumber }}</option>
                  <option>{{ data.option }}</option>
                  <option *ngFor="let option of options" [value]="option">{{ option }}</option>
                </select>
              </td>
            }@empty{
              <p>No Data for {{monthState}}</p>
            }
          </tr>
        } @empty{ 
          <tr  >
            <td colspan="16" class="text-center">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> 
            </td>
           
          </tr> 
        }
      </tbody>
    </table> 

  <div class="btn-sticky">
    <button class="btn btn-outline-primary" [disabled]="finalRoster < monthCount" (click)="prevHalf()">back</button>

    <button class="btn btn-outline-primary  nxt-btn" [disabled]="initialRoster > 0 " (click)="nextHalf()">next</button>
  </div>

</div>
}@else{
  <div class="jumbotron box-no-data mt-2">
    <h4 class="text-center">No Data for month of {{monthState}}</h4>
  </div>
}
 
<!--
  Modal content
  Multiple days 
-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ selectedUser?.username }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">  
        <div class="row mb-2">
        
          <div class="col ">
          <label for="start">Start Date</label>
          <div class="input-group">
            @if(selectedUser){
              <input type="number" id="start" class="form-control" [(ngModel)]="startDate" name="startDate">
              <span class="input-group-text" id="basic-addon2">{{selectedUser.currentMonth.substr(0,3)}}</span>
              <span class="input-group-text" id="basic-addon2"> 2024</span>
            }
            
          </div> 
          </div>
          
          <div class="col">
            <label for="end">End Date</label>
            <div class="input-group">
              @if(selectedUser){ 
                <input type="number" id="end" class="form-control" [(ngModel)]="endDate" name="endDate">
                <span class="input-group-text" id="basic-addon2">{{selectedUser.currentMonth.substr(0,3)}}</span>
                <span class="input-group-text" id="basic-addon2"> 2024</span>
              }
            </div>
     
          </div>
        </div>
        <label for="shift">Shift Type</label>
        <select id="shift" class="form-select" [(ngModel)]="rosterValue" data-bs-toggle="dropdown" aria-expanded="false">
          <option *ngFor="let option of options" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close" >Close</button>
        <button type="button" class="btn btn-primary" [disabled]="endDate == 0 || startDate == 0" (click)="getDates(startDate, endDate, rosterValue)" data-bs-dismiss="modal" aria-label="Close">Save changes</button>
      </div>
    </div>
  </div>
</div> 
<!-- <button class="btn btn-primary" (click)="exportToExcel()">Download Excel</button> -->


<div id="mySidenav" class="sidenav" [ngStyle]="{ height: isOpen ? '320px' : '0' }">
  <span class="user">Shift users overview</span>
  <a href="javascript:void(0)" class="closebtn" (click)="toggleSidebar()">&times;</a>
  <div class="table-container">
    <table class="custom-table">
      <thead class="custom-thead">
        <tr class="custom-tr">
          <th class="custom-th">Shift</th>
          <!-- Display dates in the header row -->
          <ng-container *ngFor="let day of date">
            <th *ngIf="day" class="custom-th">{{ day.date }}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <!-- Iterate through prepared data -->
        <ng-container *ngFor="let rowData of prepareDataForTable(); let rowIndex = index">
          <tr class="custom-tr">
            <td class="custom-td">{{ rowData.shift }}</td>
            <!-- Iterate through counts -->
            <ng-container *ngFor="let count of rowData.counts; let i = index">
              <td class="custom-td text-center" [style.backgroundColor]="rowData.shift == 'PH' && count !== 0 ? '#4DFF3D': rowData.shift == 'WO' && count !== 0 ? '#B6D7A8': rowData.shift == 'L' && count !== 0 ?'#FF5858': rowData.shift == 'CO' && count !== 0 ? '#FDE253' : 'transparent'">{{ count }}</td>
            </ng-container>
          </tr>
          <tr class="custom-tr" *ngIf="rowIndex === prepareDataForTable().length - 1">
            <td class="custom-td">Total</td>
            <!-- Iterate through total counts -->
            <ng-container *ngFor="let total of getTotalCounts(); let i = index">
              <td class="custom-td text-center">{{ total }}</td>
            </ng-container>
          </tr>
        </ng-container>
        <!-- Show message if no data -->
        <tr *ngIf="!prepareDataForTable().length">
          <td class="custom-td text-center">No Data for {{ monthState }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  
  
  
  
</div>

<button class="btn btn-primary semi-circle-btn" (click)="toggleSidebar()">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5m-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5"/>
  </svg>
</button>
