.cal-input{
  width: 60px;
  height: 50px;
  border-radius: 5px;
  padding: 2px;
  border: none;
  text-align: center;
  box-shadow: inset 0px 1.5px 4px rgba(124, 124, 124, 0.536);
  -webkit-appearance: none;
}

 

.jumbotron{
  box-shadow: 0px 2px 20px rgba(150, 150, 150, 0.257);
}

.box-no-data{
  background-color: #ffffff;
  margin:20px;
  border-radius: 12px;
  padding: 15px;
}
 

.table {
  padding: 0;
  width: 100%;
  border-collapse: collapse;
}
thead{
  height: 10px;
  line-height: 17px;
}

.username-column {
  font-weight: medium;
  position: sticky;
  left: 0;
  background-color: #fff; /* Adjust background color as needed */
  z-index: 1; 
}

 
 

tr{ 
  height: 55px;
  vertical-align: middle;
}
.name-title{
  padding-left: 25px;
}

th:first-child {
  border-radius: 45px 0 0 45px;
}

th:last-child{
  border-radius: 0px 45px 45px 0px;
}
 

.table-body{
  background-color: #fff; 
}
table tbody tr:first-child td:first-child {
  border-top-left-radius: 7px;
}

table tbody tr:first-child td:last-child {
  border-top-right-radius: 7px;
}

table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 7px;
}

table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 7px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.nxt-btn{
  float: right;
}
.toast{
  position: fixed; 
  top: 2px;
  right: 0;
  z-index: 2;
  border-radius: 7px;
  background-color: #fff;
  
  .toast-body{
    border-left:2px solid #3983F2; 
    border-radius: 7px;
  }
}