.cal-input{
  width: 30px;
  height: 30px;
  border-radius: 4px; 
  margin: 0; 
  text-align: center;
  border: none;
  box-shadow: inset 0px 1px 2px rgba(169, 169, 169, 0.536);
  -webkit-appearance: none;
}

.container-fluid{
  font-size: 15px;  
}
.name-title {
  white-space: nowrap; /* Prevent wrapping */
}

.header-span, .select-category {
  display: inline-block;
  vertical-align: middle; /* Align items vertically center */
  margin: 5px;
}

.select-category{
  margin-left: 10px;
  width: 70%;  
  height: 30px;
  font-size: 12px;
  padding-top: 4px;
}

.jumbotron{
  box-shadow: 0px 2px 20px rgba(150, 150, 150, 0.257);
}

.box-no-data{
  background-color: #ffffff;
  margin:20px;
  border-radius: 12px;
  padding: 15px;
}
// .btn-sticky {
//   position: fixed;
//   bottom: 10px;
//   width: 98.5%;
//   z-index: 1;
//   display: flex;
//   justify-content: space-between;
//   backdrop-filter: blur(2px);
// }

// .nxt-btn {
//   margin-left: auto; /* Pushes the button to the right */
// } 
 

.table {
  padding: 0px ;
  margin-top: 10px;
  margin-bottom: 60px;  
  width: 100%;    
  font-size: 12px;
  border-collapse: collapse;
  min-width: 60vw;
    max-width: 99vw;
    overflow-y: scroll;
  .table-body{ 
    background-color: #fff;   
    
  }
  .head-section{
    border-radius: 26px;
    box-shadow: 0px 2px 4px rgba(103, 103, 103, 0.394);

  }
}
td{
  padding: 5px;
}
thead{
  height: 10px;
  line-height: 17px; 
  position: sticky; 
  top: 30px;
  z-index: 2; 
} 

.username-column {
  font-weight: bolder;
  position: sticky;
  left: 0;
  padding-left: 10px;
  background-color: #fff; 
  z-index: 1; 
}

 
 

tr{ 
  height: 55px;
  vertical-align: middle;
}
.name-title{
  padding-left: 25px;
}

th:first-child {
  border-radius: 45px 0 0 45px;
}

th:last-child{
  border-radius: 0px 45px 45px 0px;
}
 
.row-data{

}


table tbody tr:first-child td:first-child {
  border-top-left-radius: 7px;
}

table tbody tr:first-child td:last-child {
  border-top-right-radius: 7px;
}

table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 7px;
}

table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 7px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.toast{
  position: fixed; 
  top: 5%;
  right: 1%;
  z-index: 5;
  border-radius: 7px;
  background-color: #fff;
  
  .toast-body{
    border-left:2px solid #3983F2; 
    border-radius: 7px;
  }
}






 
// overview based on daywise shift

.downnav {
  width: 100%; /* Full-width */
  height: 0; /* 0 height - hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Stay on top */
  bottom: 0; /* Place at the bottom */
  left: 0;
  background-color: #ffffff; /* Black */
  overflow: hidden; /* Disable horizontal scroll */
  transition: height 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  .user{
    position: absolute;
    top: 20px;
    left: 10px;
    font-size:16px;
    margin-right: 50px;
  }
}

/* The navigation links */
.downnav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.downnav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.downnav .closebtn {
  position: absolute;
  top: 0px;
  right: 25px; 
  margin-left: 50px;
}



.semi-circle-btn {
  position: fixed;
  bottom: 2px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 40px; /* Adjust width as needed */
  height: 25px; /* Adjust height as needed */
  border-radius: 50% 50% 0 0; /* Semi-circle shape */
  background-color: #007bff; /* Button background color */
  color: white; /* Text color */
  border: none;
  z-index: 3;
  outline: none;
  cursor: pointer;
}
.semi-circle-btn:hover {
  background-color: #0056b3; /* Hover background color */
}


// sidenav for overview on user based


.sidenav {
  width: 0; /* Full-width */
  height: 100%; /* 0 height - hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Stay on top */
  top: 0; 
  right: 0;
  background-color: #ffffff; /* Black */
  overflow: hidden; /* Disable horizontal scroll */
  transition: height 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  .user{
    position: absolute;
    top: 20px;
    left: 10px;
    font-size:16px;
    margin-right: 50px;
  }
}

/* The navigation links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0px;
  right: 25px; 
  margin-left: 50px;
}


.side-btn {
  position: fixed;
  top: 50%; /* Adjust as needed */
  right: 0;
  transform: translateX(-10%);
  width: 35px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  border-radius: 50% 0 0 50%; /* Semi-circle shape */
  background-color: #007bff; /* Button background color */
  color: white; /* Text color */
  border: none;
  outline: none;
  cursor: pointer;
  svg{
    height: 20px;
    transform: rotate(-90deg);
  }
}
.side-btn:hover {
  background-color: #0056b3; /* Hover background color */
}

.shift
{
  text-align: center;
}

.table-container { 
    margin-top: 40px ;
    min-height: 600px;
    max-height: 93vh;
    overflow:auto; 
    
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px; /* Adjust font size */
}

.custom-tr{ 
  padding: 0;
  height: 0;
}
.custom-thead{
  position: sticky;
  top: 0.5%;
}

.custom-th
.custom-th,
.custom-td {
  font-weight: bold;
  padding: 2px;  
}

.custom-th {
  background-color: #f8f9fa;
  border-bottom: 2px solid #dee2e6;
  text-align: center;
 
}

.custom-td { 
  border: 1px solid #dee2e6;
}


//tooltip 

.tooltip-container {
  position: relative;
  display: inline-block;
}

.custom-tooltip {
  visibility: hidden;
  background-color: #444444;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 4;
  bottom: 125%; /* Position the tooltip above the text */
  left: 50%;
  margin-left: -60px; /* Use half of the width to center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  width: 120px;
}

.tooltip-container:hover .custom-tooltip {
  visibility: visible;
  opacity: 1;
}

 
