<!-- 
<select class="form-select" aria-label="Default select example" [(ngModel)]="month" (ngModelChange)="getUserRosterData()">
  <option selected>Option</option> 
  @for(month of monthList; track month){
    <option [value]="month">{{month}}</option>
  }@empty{
    <p>no Value</p>
  }
</select> -->
@if (!editRoster && rosterArrayLength != 0) {
  <table >
    <tr>
      <th class="table-head" *ngFor="let day of weekdays">{{ day }}</th>
    </tr>
    <tr class="table-row" *ngFor="let week of rosterUserData | daysFormatter: 7">
      <td *ngFor="let day of week">
        <div class="view-box" *ngIf="day"  [style.backgroundColor]="day.option == 'PH' ? '#4DFF3D': day.option == 'CO'? '#FDE253': day.option == 'L'? '#FF5858' :  day.weekday == 'Sat' || day.weekday == 'Sun'? '#B6D7A8': 'transparent'">
          <span class="date">{{ day.dayNumber }}</span>
         
          <span class="option">{{day.option}}</span>
        </div>
      </td>
    </tr>
  </table>
  <div class="edit-roster mt-4" *ngIf="rosterUserData.length > 0">
    <button class="btn btn-primary" (click)="editUserRoster()" [disabled]="date > 16">Edit</button>
  </div>


}@else if(editRoster){
  <table>
    <thead>
      <tr>
        <th class="table-head" *ngFor="let day of weekdays">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row"  *ngFor="let week of rosterUserData | daysFormatter: 7">
        <td *ngFor="let day of week">
          <div *ngIf="day">
            <select class="form-select cal-input" [(ngModel)]="day.option" [disabled]="day.weekday == 'Sun' || day.weekday == 'Sat'"  [style.backgroundColor]="day.option == 'PH' || day.option == 'CO'? 'rgb(255, 191, 0)': day.option == 'L'? 'red' : 'transparent'">
              <option [value]="null" selected>{{day.dayNumber}}</option>
              <option *ngFor="let option of options" [value]="option" > {{ option }}</option>
            </select>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="edit-roster mt-5">
    <button class="btn btn-outline-danger me-2" (click)="editRoster = false">Cancel</button>
    <button class="btn btn-primary" (click)="updateUserRoster()">Update</button>
  </div> 
}@else{ 
  <div class="m-3">
    <h4>No data for month of {{months}}</h4>
  </div>
}
<!-- @if(rosterUserData.length < 0){
  <
} -->

<!-- <p *ngIf="rosterUserData.length == 0" >Create a Roster first
  <a href="" (click)="routetoCurrent('currentRoster')">Create Roster</a>
</p> -->
<!-- Edit section -->
 
 