.side-nav{
    width: 280px;
    border-right: 1px groove rgb(156, 156, 156);
    
}
.side-nav-content{
    background-color: #fff;
    width: 280px;
    height: 82vh;
    border-radius: 10px 0px 0px 10px;

}
hr{
    width: 250px;
    background-color:#204FA1;
}
.nav-head{
    margin: 0;
    padding: 0;
    font-size: larger;
}
.nav-link{
    font-weight: 300;
    color: rgb(55, 55, 55);
    margin-bottom: 15px;
    width: 240px;
    background-color: transparent;
}

.actives{
    // border-radius: 7px;
     border-left: 4px solid #204FA1 ;
    // background-color: #AFE1FA;
    border-radius: 4px;
    background: #DFEAFC;
}

.user-name{
    font-size: medium;
    font-weight: 300;
    color: rgb(55, 55, 55);
}

svg{
    color: red;
}
