<div class="d-flex align-items-start">
    <div class="d-flex flex-column  p-3 text-white side-nav"  >
  
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a href="#" class="nav-link text-white"  >
            Roster
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white" >
            History
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white" >
            Publish Roster
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong></strong>
        </a>
      </div>
    </div>
  </div>
  