<div class="d-flex side-nav">
    <div class="d-flex flex-column p-3 side-nav-content"  >
      <p class="nav-head "> {{currentMonth}} Roster</p>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a href="#" class="nav-link actives"  >
            Roster
          </a>
        </li>
        <li>
          <a href="#" class="nav-link " >
            History
          </a>
        </li>
        <li>
          <a href="#" class="nav-link " >
            Publish Roster
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center user-name text-decoration-none" >
          <img src="/assets/user-profile.svg" alt="" width="35" height="35" class="image me-2">
          Mohammad Inshal
        </a>
        <button (click)="signOut()">SignOut</button>
      </div>
    </div>
  </div>
  