<div class="section d-flex justify-content-center">
  @switch(userNavValue.length > 0){
    @case (userNavValue == 'currentRoster') {
      @if(editRosterStatus){
        <app-roster-edit (editRoster)="rosterUpdate()" (userNavigateTo)="userNavRoute($event)"></app-roster-edit>
      }@else{
        <app-calendar (editRoster)="rosterEdit()" (userNavigateToCurrent)="userNavRoute($event)"></app-calendar>
      }
    }
    @case (userNavValue == 'myRoster') {
      <app-user-roster  [months]="monthValue"></app-user-roster>
    }
    @case (userNavValue == 'publish') {
      <app-publish-roster-user></app-publish-roster-user>
    }
    @default {
      <span>Empty</span>
    }
  }
</div>




