<app-head-nav></app-head-nav>

<div class="container">
  @if(userState == 'login'){
    <app-login (authState)="LogIn($event)"></app-login>
  }@else if(userState == 'admin-dash'){
    <app-admin-dashboard></app-admin-dashboard>
  }@else if(userState == 'dash'){
    <div class="row">
      <div class="col-3">
        <app-side-nav (userInputNav)="userNavInput($event)" [navValueDashboard]="navValue"></app-side-nav>
      </div>
      <div class="col ">
        <app-dashboard [userNavValue]="navValue" (navValueDash)="getNavDashboardValue($event)"></app-dashboard>
      </div>
    </div>
  } 

</div>

