
<!-- 
<app-admin-dashboard></app-admin-dashboard> -->
 <div class="container-fluid">
  @if(userState == 'login'){
    <app-login (authState)="LogIn($event)"></app-login>
  }@else if(userState == 'admin-dash'){
    <app-admin-nav (rosterPublishState)="getPublishState($event)" (routeToDashboard)="adminRoutetoDash($event)" (changeMonth)="getSelectedMonth($event)"></app-admin-nav>
    <app-admin-dashboard [state]="rosterState" [monthState]="monthValue"></app-admin-dashboard>
  }@else if(userState == 'dash'){
    <app-head-nav (selectedMonth)="getSelectedMonth($event)" (routeDashboard)="getRouteForDashboard($event)"></app-head-nav>
    <div class="container"> 
      <div class="row">
        <div class="col-3 mt-2">
          <app-side-nav (userInputNav)="userNavInput($event)" [navValueDashboard]="navValue" ></app-side-nav>
        </div>
        <div class="col mt-2">
          <app-dashboard [userNavValue]="navValue" (navValueDash)="getNavDashboardValue($event)" [month]="monthValue" ></app-dashboard>
        </div>
      </div>
    </div>
   
  }@else if(userState == 'all-dash'){
    <app-all-view-dashboard (routetoPreviousState)="routetoCurrentState($event)"/>
  } 

</div> 




