.jumbotron {
    font-size: medium;
    .main-view {
        margin: 20px 0 0 0;
        padding: 0;
        width: 60vw;
        .request-col { 
            .form {
                width: 100%;
                .row {
                    margin: auto;
                    width: 100%;
                    .col{
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
        .history-col {
            .card-view {
                min-height: fit-content;
                max-height: 500px;
                overflow: auto;
                .card{
                    margin: 10px;
                    padding: 0;  
                    height: fit-content;
                    p{
                        margin-bottom: 0;
                      }
                      
                    .card-body{
                        font-size: 14px;
                        .name{
                            margin-bottom: 15px;
                        }
                        .date{ 
                            position: absolute;
                            right: 10px;
                            top: 1;
                            font-weight: bolder;
                        } 
                        .shift{
                            margin-bottom: 15px;
                        }
                        .view-box{
                            position: absolute;
                            right: 10px;   
                            top: 21%;
                             
                            .option{ 
                                margin: 5px;
                              padding-top: 6px; 
                                padding-right: 10px; 
                                display: flex;
                                justify-content: end;
                                width: 35px;
                                height: 35px; 
                                box-shadow: inset 0px 1px 4px rgba(155, 155, 155, 0.536);
                                border-radius: 5px;
                            } 
                          }

                        .badge{
                            position: absolute;
                            right: 10px;   
                            top: 75%;
                            padding: 5px;
                            font-size: small;
                        }  
                         
                    }    
                }
            }
        }
    }
}
