<div class="jumbotron">
  <div class="row main-view"> 
      <div class="col-md-7 request-col"> 
          <h5>Request Shift Swap</h5> 
          <div class="form" [formGroup]="shiftForm">
            <div class="mb-3">
              <label for="date">Select date</label>
            <input type="date" id="date" class="form-control" formControlName="swapDate"> 
            </div>
              <div class="mb-3">
                <label for="group">Select group</label>
                  <select class="form-select" id="group" (change)="groupSelected($event)" data-bs-toggle="dropdown" aria-expanded="false">
                      <option class="option-value" value="" disabled selected>Select Group</option>
                      <option class="option-value" value="SDC03">SDC03</option>
                      <option class="option-value" value="CCP">CCP</option>
                  </select>
              </div>
              <div class="mb-3">
                <label for="emp">Select employee name</label>
                  <select class="form-select"  formControlName="swapwithEmployee" data-bs-toggle="dropdown" aria-expanded="false">
                    <option class="option-value" *ngIf="group" value="" disabled selected>Select Swap Employee</option>
                    <option class="option-value" *ngIf="!group" value="" disabled selected>Select Group First</option>
                      <option class="option-value" *ngFor="let option of user" [value]="option"> {{ option }}</option>
                  </select>
              </div>
              <div class="mb-3 row d-flex align-items-center">
                  <div class="col me-1">
                    <label for="emp">Current shift</label>
                      <select class="form-select" formControlName="swapShift" data-bs-toggle="dropdown" aria-expanded="false">
                          <option class="option-value" value="" selected>Select current shift</option>
                          <option class="option-value" *ngFor="let option of options" [value]="option"> {{ option }}</option>
                      </select>
                  </div>
                  <div class="col">
                    <label for="emp">Requesting shift</label>
                      <select class="form-select" formControlName="swapEmpShift" data-bs-toggle="dropdown" aria-expanded="false">
                          <option class="option-value" value="" selected>Select shift swap</option>
                          <option class="option-value" *ngFor="let option of options" [value]="option"> {{ option }}</option>
                      </select>
                  </div>
              </div>
          </div>
          <button class="btn btn-outline-danger"  (click)="shiftForm.reset()">Reset</button>
          <button class="btn btn-primary float-end" [disabled]="shiftForm.invalid" (click)="submitShiftSwap()">Submit</button>
      </div>
      <div class="col-md-5 history-col">
          <h5>Shift Swap History</h5>        
          <div class="card-view" >
          @for(item of swapHistory; track item.userId){
    
              <div class="card mb-1"  >
                  <div class="card-body">
                    <span class="date">{{item.swapDate | date:'d MMM, y'}}</span>
                    <p class="name ">{{item.swapwithEmployee}}</p>
                     
                      <p class="shift "> Previous Shift: </p>
                     
                      <p class="shift">Current Shift: </p>  
                      <div class="view-box"  > 
                        <span class="option">{{item.swapShift}}</span>
                        <span class="option">{{item.swapEmpShift}}</span>

                      </div>
                      @switch(item.state != ''){
                        @case( item.state == 'Pending'){
                          <p class="">Status: </p>  <span class="badge text-bg-secondary">{{item.state}}</span>
                        }
                        @case (item.state == 'Approved') {
                          <p>Status: </p>  <span class="badge text-bg-success">{{item.state}}</span>
                        }
                        @case (item.state == 'Rejected') {
                          <p>Status:  </p><span class="badge text-bg-danger">{{item.state}}</span>
                        }
                      }
                     
                  </div>
              </div>  
          }@empty {
    
            <p>No data</p>
          }
        </div>
       
      </div>
  </div>
</div>
