@if(rosterLength > 0){
  <table >
    <tr>
      <th class="table-head" *ngFor="let day of weekdays">{{ day }}</th>
    </tr>
    <tr class="table-row" *ngFor="let week of userRosterData | daysFormatter: 7">
      <td *ngFor="let day of week">
        <div class="view-box" *ngIf="day"  [style.backgroundColor]="day.option == 'PH' ? '#4DFF3D': day.option == 'CO'? '#FDE253': day.option == 'L'? '#FF5858' :  day.weekday == 'Sat' || day.weekday == 'Sun'? '#B6D7A8': 'transparent'">
          <span class="date">{{ day.dayNumber }}</span>
         
          <span class="option">{{day.option}}</span>
        </div>
      </td>
    </tr>
  </table>  
}@else{
  <div class="m-3">
    <h4>Roster is not published for {{month}}</h4>
  </div>
  
}


<!--   
  <div class="edit-roster" *ngIf="rosterUserData.length > 0">
    <button class="btn btn-primary" (click)="editUserRoster()">Edit</button>
  </div> -->
