<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-start">
    <button class="btn me-2 btn-outline-danger" type="submit" (click)="signOut()">Logout</button>
    <select class="form-select" aria-label="Default select example" [(ngModel)]="month" (ngModelChange)="getMonthRoster(month)">
      <option [value]="selectValue" disabled selected>Select Month</option> 
      @for(month of monthList; track month){
        <option [value]="month">{{month}}</option>
      }@empty{
        <p>no Value</p>
      }
    </select>
  </div>
  <a class="navbar-brand" href="#" (click)="routeToDash()">Roster</a>

  <div class="container-fluid d-flex justify-content-end"> 
        <div class="nav-item dropdown me-3">
          <a class="btn btn-primary dropdown-toggle" href="#" (click)="getUserSwapHistory()" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Swap Requests 
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{swapCount}}
            <span class="visually-hidden">Pending Requests</span>
          </span>
          </a>
          <div class="dropdown-menu"> 
            @for(item of swapHistory; track item.userId){
              <div class="card-view" >
                <div class="card mb-1"  >
                  <div class="card-header">
                    <span class="date">{{item.swapDate | date:'d MMM, y'}}</span>
                    <p >{{item.requesterName}}</p>

                  </div>
                    <div class="card-body">
                      <p class="shift "> Swap with: </p>
                      <p class="name ">{{item.swapwithEmployee}}</p>
                       
                        <p class="shift "> Previous Shift: </p>
                       
                        <p class="shift">Current Shift: </p>  
                        <div class="view-box"  > 
                          <span class="option">{{item.swapShift}}</span>
                          <span class="option">{{item.swapEmpShift}}</span>
  
                        </div>
                        @switch(item.state != ''){
                          @case( item.state == 'Pending'){
                            <p class="shift">Status: </p>  <span class="badge text-bg-secondary">{{item.state}}</span>
                          }
                          @case (item.state == 'Approved') {
                            <p class="shift">Status: </p>  <span class="badge text-bg-success">{{item.state}}</span>
                          }
                          @case (item.state == 'Rejected') {
                            <p class="shift">Status:  </p><span class="badge text-bg-danger">{{item.state}}</span>
                          }
                        }
                       
                    </div>
                    <div class="card-footer " >
                      <button href="#" class="btn btn-outline-danger me-2" [disabled]="item.state == 'Approved' || item.state == 'Rejected'" (click)="swapRequestState('Rejected', item)">Reject</button>
                      <button href="#" class="btn btn-primary float-end" [disabled]="item.state == 'Approved' || item.state == 'Rejected'" (click)="swapRequestState('Approved', item)">Approve</button>

                    </div>
                </div> 
            </div>
            }@empty {
              <p>No data</p>
            }
          </div> 


    </div>
    <button class="btn ms-2 btn-outline-primary" type="submit" [disabled]="userCountCheck?.state" (click)="createRoster()">Create</button>

    <button class="btn ms-2 btn-primary" type="submit" (click)="publishRoster('True')" [disabled]="currentDate.date() <= 16">Publish</button>

  </div>

    
 


</nav>

 
  <!-- Then put toasts within
  <div #publishToast class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body"> 
      Roster is Published
      <div class="mt-2 pt-2 border-top"> 
      
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Cancel</button>
      </div>
    </div>
  </div>  -->