<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-start">
    <button class="btn me-2 btn-outline-danger" type="submit" (click)="signOut()">Logout</button>
    <select class="form-select" aria-label="Default select example" [(ngModel)]="month" (ngModelChange)="getMonthRoster(month)">
      <option [value]="selectValue" disabled selected>Select Month</option> 
      @for(month of monthList; track month){
        <option [value]="month">{{month}}</option>
      }@empty{
        <p>no Value</p>
      }
    </select>
  </div>
  <a class="navbar-brand" href="#" (click)="routeToDash()">Roster</a>

  <div class="container-fluid d-flex justify-content-end">
    <button class="btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
      </svg>
    </button>
    <button class="btn ms-2 btn-outline-primary" type="submit" [disabled]="userCountCheck?.state" (click)="createRoster()">Create</button>

    <button class="btn ms-2 btn-primary" type="submit" (click)="publishRoster('True')" [disabled]="currentDate.date() <= 16">Publish</button>

  </div>

    
 


</nav>

 
  <!-- Then put toasts within
  <div #publishToast class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body"> 
      Roster is Published
      <div class="mt-2 pt-2 border-top"> 
      
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Cancel</button>
      </div>
    </div>
  </div>  -->