<!-- @if(edit){
   <form [formGroup]="holidayForm">
  <table>
    <tr>
      <th class="table-head" *ngFor="let day of weekdays">{{ day }}</th>
    </tr>
    <tr class="table-row" *ngFor="let week of getDaysInMonth() | daysFormatter: 7">

      <td  *ngFor="let day of week; let i=index; trackBy:trackByFn">
        <div *ngIf="day">
            <select class="form-select cal-input" [(ngModel)]="selectedOption" (change)="getUserLeave(day)">
              <option selected disabled>{{day.dayNumber}}</option>
              <option *ngFor="let item of options; let i=index;" [value]="item" >{{day.dayNumber}}{{item}}</option>
            </select>
           <input class="form-control cal-input" type="text" [placeholder]="day.dayNumber">
        </div>
      </td>

    </tr>
  </table>
</form>

<table>
  <thead>
    <tr>
      <th class="table-head" *ngFor="let day of weekdays">{{ day }}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-row" *ngFor="let week of days | daysFormatter: 7">
      <td *ngFor="let day of week">
        <div *ngIf="day">
          <div class="day-number">{{ day.dayNumber }}</div>
          <select class="form-select cal-input" [(ngModel)]="day.option" [disabled]="day.weekday == 'Sun' || day.weekday == 'Sat'" >

            <option [value]="null" disabled>{{day.dayNumber}}</option>
            <option *ngFor="let option of options" [value]="option" > {{ option }}</option>
          </select>
        </div>
      </td>
    </tr>
  </tbody>
</table>






}@else{

}   @if(!edit){
  <div class="edit-roster">
    <button class="btn btn-primary" (click)="editRoster()">Edit Roster</button>
  </div>
}@else{
  <div class="edit-roster">
    <button class="btn btn-primary" (click)="getUserLeave()">Submit</button>
  </div>
}


<div class="info mt-1">
  <p><b>PH</b>:Public Holiday, <b>CO</b>:Comp Off</p>
</div> -->

 <table>
  <tr>
    <th class="table-head" *ngFor="let day of weekdays">{{ day }}</th>
  </tr>
  <tr class="table-row" *ngFor="let week of getDaysInMonth() | daysFormatter: 7">
    <td *ngFor="let day of week">
      <div *ngIf="day">
        {{ day.dayNumber }}
      </div>
    </td>
  </tr>
</table>

<div class="edit-roster mt-4">
  <button class="btn btn-primary" (click)="rosterChange()">Create Roster</button>
</div>
