<div>
    <!-- <button (click)="previousMonth()">Previous Month</button> -->
    <h2 class="month-font">{{ currentDate.format('MMMM YYYY') }}</h2>
    <!-- <button (click)="nextMonth()">Next Month</button> -->
  </div>

  <table>
    <tr>
      <th class="table-head" *ngFor="let day of weekdays">{{ day }}</th>
    </tr>
    <tr class="table-row" *ngFor="let week of getDaysInMonth() | daysFormatter: 7">
      <td *ngFor="let day of week">
        <div *ngIf="day">
          {{ day.dayNumber }}
        </div>
      </td>
    </tr>
  </table>

