<div #loginToast class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-body"> 
    <strong class="me-auto">{{response}}</strong> 
    <button type="button" class="btn-close float-end" data-bs-dismiss="toast" aria-label="Close"></button>
  </div> 
</div>

<div class="container-fluid">
  <div class="row">
      <!-- Column with image -->
      <div class="col-md-6">
          <div class="side-background">
            <p class="ps-2">Roster</p>
          </div>
      </div>
       
      <div class="col-md-6">
          <div class="jumbotron ">
              <form [formGroup]="userForm">
                  <div class="mb-3">
                      <label for="username-c" class="form-label">Username</label>
                      <input type="email" class="form-control" id="username-c" formControlName="email" placeholder="name@test.com">
                      <small *ngIf="errorMessage">{{errorMessage}}</small>
                      <small *ngIf="userForm.get('email')?.dirty && userForm.get('email')?.errors?.['pattern']">Invalid UserId</small>
                  </div>
                  <label for="keyword" class="form-label">Password</label>
                  <input type="password" id="keyword" class="form-control" formControlName="passwd" placeholder="*******">
                  <small *ngIf="passwordError">{{ passwordError}}</small>
              </form>
              
              <div class="button mt-3 text-center">
                  <button class="btn btn-primary login-btn" (click)="LogIn()">Login</button>
              </div>
              
              <small *ngIf="response">{{response}}</small>
              <div class="text-center mt-3">
                  <a href="#" class="secondary-text" (click)="getPassword()">Get password</a>
              </div>
          </div>
      </div>
  </div>
</div>


<!-- Edit section -->
<div class="modal fade" #getpaswd id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Get my password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">  
      <input type="text" class="form-control mb-2" placeholder="Email">
      <input type="password" class="form-control" name="" id="" placeholder="****">
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary"  data-bs-dismiss="modal" >Update</button> 
   </div>
    </div>
  </div>
</div> 