<nav class="navbar navbar-expand-lg">
  <div class="container-fluid d-flex justify-content-start">
     <select class="form-select" aria-label="Default select example" [ngModel]="month" (ngModelChange)="getRosterData($event)">
      <option selected>Option</option> 
      @for(month of monthList; track month){
        <option [value]="month">{{month}}</option>
      }@empty{
        <p>no Value</p>
      }
    </select> 
  </div>
  

    <a class="navbar-brand" href="#">Roster</a>
  
    <div class="container-fluid d-flex justify-content-end">
      <app-excel-converter [month]="month"/>
      <button class="btn ms-2 btn-primary" type="submit" (click)="routeBack()">Home</button>  
    </div>  
  </nav>

  <div class="container-fluid mt-3">
    @if(rosterData.length > 0){
    <table class="table mt-3">  
        <thead class="p-0 m-0"> 
          <tr class="head-section"> 
              <th class="name-title">Name</th>
              @for (day of dateObject; track day){
                <th *ngIf="day" class="text-center date"> 
                  {{ day?.day }}  
                  <br> 
                <small>{{day?.date}}</small>  
  
                  </th>  
              }   
          </tr> 
          <br>
        </thead>  
          <tbody class="table-body" >
            <tr>
              <td class="username-column">Shift Filter</td>
              <td *ngFor="let len of dateObject"> 
                <select *ngIf="len" class="select-input" [(ngModel)]="len.option"  (change)="objectifyFilter(len, len.option)" data-bs-toggle="dropdown" aria-expanded="false">
    
                  <option *ngFor="let option of options" [value]="option">{{ option }}</option>
                  <option value=""> </option>
                </select>
 
              </td>
            </tr>
            @for (item of (rosterData | shiftFilter: filterOption ) ; track item.roster) {
             
              <tr *ngIf="item" class="">
                <td *ngIf="item" class="username-column" >
                  {{ item.username }}  
                </td>
               
                @for (data of item.roster ; track data?.dayNumber) {
               
                  <td *ngIf="data" class="cal-input  " [style.backgroundColor]="data.option == 'PH' ? '#4DFF3D': data.option == 'CO'? '#FDE253': data.option == 'L'? '#FF5858' :  data.option == 'WO' ? '#B6D7A8': 'transparent'"> 
                      {{data.option}}
                   
                  </td>   

                }@empty{
                  <p>No Data for</p>
                }
              </tr>
             
            } @empty{ 
              <tr>
                <td colspan="31" class="text-center">
                  <div class="jumbotron text-center mt-3">
                    <h5 class="text-danger">
                      No data for selected filter
                    </h5>
                   </div>
                </td>
               
              </tr> 
            }
            
          </tbody> 
      </table> 
    }@else {
      <div class="jumbotron text-center mt-3">
       <h5 class="text-danger">
         Roster not published for {{month}}
       </h5>
      </div>
     }
  </div>




  <div id="mySidenav" class="downnav" [ngStyle]="{ height: isOpen ? '320px' : '0' }">
    <span class="user">Shift users overview</span>
    <a href="javascript:void(0)" class="closebtn" (click)="toggleDownbar()">&times;</a>
    <div class="table-container">
      <table class="custom-table">
        <thead class="custom-thead">
          <tr class="custom-tr">
            <th class="custom-th">Shift</th>
            <!-- Display dates in the header row -->
            <ng-container *ngFor="let day of dateObject">
              <th *ngIf="day" class="custom-th">{{ day.date }}</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <!-- Iterate through prepared data -->
          <ng-container *ngFor="let rowData of prepareDataForTable(); let rowIndex = index">
            <tr class="custom-tr">
              <td class="custom-td">{{ rowData.shift }}</td>
              <!-- Iterate through counts -->
              <ng-container *ngFor="let count of rowData.counts; let i = index">
                <td class="custom-td text-center" [style.backgroundColor]="rowData.shift == 'PH' && count !== 0 ? '#4DFF3D': rowData.shift == 'WO' && count !== 0 ? '#B6D7A8': rowData.shift == 'L' && count !== 0 ?'#FF5858': rowData.shift == 'CO' && count !== 0 ? '#FDE253' : 'transparent'">{{ count }}</td>
              </ng-container>
            </tr>
            <tr class="custom-tr" *ngIf="rowIndex === prepareDataForTable().length - 1">
              <td class="custom-td">Total</td>
              <!-- Iterate through total counts -->
              <ng-container *ngFor="let total of getTotalCounts(); let i = index">
                <td class="custom-td text-center">{{ total }}</td>
              </ng-container>
            </tr>
          </ng-container>
          <!-- Show message if no data -->
          <tr *ngIf="!prepareDataForTable().length">
            <td class="custom-td text-center">No Data for {{ month }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    
    
    
    
  </div>
  
  <button class="btn btn-primary semi-circle-btn" (click)="toggleDownbar()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5m-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5"/>
    </svg>
  </button>



  <!-- SideNav with username details -->
  <div class="sidenav" [ngStyle]="{ width: isSideOpen ? '500px' : '0' }">
    <span class="user">Shift users overview</span>
    <a href="javascript:void(0)" class="closebtn" (click)="toggleSidebar()" >&times;</a>
    <div class="table-container">
      <table class="custom-table">
        <thead class="custom-thead">
          <tr class="custom-tr">
            <th class="custom-th">Shift</th>
            <!-- Display dates in the header row -->
            <ng-container *ngFor="let item of options">
              <th *ngIf="item" class="custom-th">{{ item }}</th>
            </ng-container>
          </tr>
        </thead>
        <tbody class="custom-body"> 
            @for (item of userOverviewArray; track item){
              <tr class="custom-tr">
                <td class="custom-td">{{item.username}} </td>
                 <td class="custom-td shift">{{item.T7}} </td> 
                 <td class="custom-td shift">{{item.S1}} </td> 
                 <td class="custom-td shift">{{item.F3}} </td> 
                 <td class="custom-td shift">{{item.G2}} </td> 
                 <td class="custom-td shift">{{item.G1}} </td> 
                 <td class="custom-td shift">{{item.CO}} </td> 
                 <td class="custom-td shift">{{item.PH}} </td> 
                 <td class="custom-td shift">{{item.L}} </td> 
                 <td class="custom-td shift">{{item.WO}} </td>


              </tr>
            }@empty {
              <tr>
                <td>Empty</td>
              </tr>
            }
            
           
        </tbody>
      </table>
    </div>
  
    
    
    
    
  </div>
  
  <button class="btn btn-primary  side-btn" (click)="toggleSidebar()" >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5m-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5"/>
    </svg>
  </button> 


  