.navbar{ 
    height: 46px; 
    background-color: #ffffff;
  }
  a{
  margin: 0;
  padding: 0;
  color: black;
  } 
  
  .table {
    padding: 0; 
  }
.username-column{
  font-size: 13px;
  font-weight: 600;  
  background-color: #fff; 
  width: 130px;
}
.select-input{
  margin: 0;
  width: 25px;
  height: 25px;
  border-radius: 5px; 
  border: none;
  font-size: 12px;
  text-align: center;
  box-shadow: inset 0px 1.5px 4px rgba(124, 124, 124, 0.536);
  -webkit-appearance: none;
}

.head-section{
  border-radius: 26px;
  box-shadow: 0px 2px 4px rgba(103, 103, 103, 0.394);

}


  .date{
    font-size: 13px; 
  margin: 0;
  padding: 0;
  }

  .table-body{ 
    padding: 10px;
    background-color: #fff;
    .cal-input {
      width: 30px;
      height: 30px;
      padding:0; /* Reset padding */
      margin: 0; /* Reset margin */
      font-size: 13px;
   //   border-radius: 5px;
      border: 0.5px solid rgb(229, 229, 229);
      text-align: center;
      line-height: 30px;
    //  box-shadow: inset 0px 1px 4px rgba(124, 124, 124, 0.448);
      -webkit-appearance: none; 
    }

  
  }

  
 
.btn{
  height: 32px;  
  font-size: 15px;
  display: inline-flex;
  align-items: center;
}

.form-select{
  height: 33px;
  width: 20%;
  font-size: 15px;
  padding-top: 4px;
}
 
th{
  border:none;
}
th:first-child { 
  border-radius: 45px 0 0 45px;
}
  
th:last-child{ 
  border-radius: 0px 45px 45px 0px;
}

table tbody tr:first-child td:first-child {
  border-top-left-radius: 10px;
}

table tbody tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}


 
// overview based on daywise shift

.downnav {
  width: 100%; /* Full-width */
  height: 0; /* 0 height - hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  bottom: 0; /* Place at the bottom */
  left: 0;
  background-color: #ffffff; /* Black */
  overflow: hidden; /* Disable horizontal scroll */
  transition: height 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  .user{
    position: absolute;
    top: 20px;
    left: 10px;
    font-size:16px;
    margin-right: 50px;
  }
}

/* The navigation links */
.downnav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.downnav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.downnav .closebtn {
  position: absolute;
  top: 0px;
  right: 25px; 
  margin-left: 50px;
}



.semi-circle-btn {
  position: fixed;
  bottom: 2px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 40px; /* Adjust width as needed */
  height: 25px; /* Adjust height as needed */
  border-radius: 50% 50% 0 0; /* Semi-circle shape */
  background-color: #007bff; /* Button background color */
  color: white; /* Text color */
  border: none;
  outline: none;
  cursor: pointer;
}
.semi-circle-btn:hover {
  background-color: #0056b3; /* Hover background color */
}

// sidenav for overview on user based
 

.sidenav {
  width: 0; /* Full-width */
  height: 100%; /* 0 height - hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Stay on top */
  top: 0; 
  right: 0;
  background-color: #ffffff; /* Black */
  overflow: hidden; /* Disable horizontal scroll */
  transition: height 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  .user{
    position: absolute;
    top: 20px;
    left: 10px;
    font-size:16px;
    margin-right: 50px;
  }
}

/* The navigation links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0px;
  right: 25px; 
  margin-left: 50px;
}


.side-btn {
  position: fixed;
  top: 50%; /* Adjust as needed */
  right: 0;
  transform: translateX(-10%);
  width: 35px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  border-radius: 50% 0 0 50%; /* Semi-circle shape */
  background-color: #007bff; /* Button background color */
  color: white; /* Text color */
  border: none;
  outline: none;
  cursor: pointer;
  svg{
    height: 20px;
    transform: rotate(-90deg);
  }
}
.side-btn:hover {
  background-color: #0056b3; /* Hover background color */
}

.shift
{
  text-align: center;
}

.table-container { 
    margin-top: 40px ;
    min-height: 600px;
    max-height: 93vh;
    overflow:auto; 
    
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px; /* Adjust font size */
}

.custom-tr{ 
  padding: 0;
  height: 0;
}
.custom-thead{
  position: sticky;
  top: 0.5%;
}

.custom-th
.custom-th,
.custom-td {
  font-weight: bold;
  padding: 2px;  
}

.custom-th {
  background-color: #f8f9fa;
  border-bottom: 2px solid #dee2e6;
  text-align: center;
 
}

.custom-td { 
  border: 1px solid #dee2e6;
}

 

 