/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
  


body{
    background-color: #EAEBE7;
    color: #0F0D35;
    font-family: 'Poppins', sans-serif;
}