
@if(rosterUserData.length > 0 && currentMonth == previousMonth){
<div class="posted-roster">
  <div class="content text-center"> 
    <p>Roster is already submitted for {{currentMonth}}</p>  
    <button class="btn btn-primary" (click)="openUserRoster('myRoster')">Update Roster</button> 
  </div>
</div>

}@else{
  <table>
    <thead>
      <tr>
        <th class="table-head" *ngFor="let day of weekdays">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let week of days | daysFormatter: 7">
        <td *ngFor="let day of week">
          <div  *ngIf="day"> 
            <select class="cal-input" [(ngModel)]="day.option" [disabled]="day.weekday == 'Sun' || day.weekday == 'Sat'"  [style.backgroundColor]="day.option == 'PH' || day.option == 'CO'? 'rgb(255, 191, 0)': day.option == 'L'? 'red' : 'transparent' " data-bs-toggle="dropdown" aria-expanded="false">

              <option [value]="null" >{{day?.dayNumber}}</option> 
              <option *ngFor="let option of options" [value]="option" > {{ option }}</option>
            </select>
          </div>
        </td>
      </tr>
    </tbody>
  </table>


  <div class="update-roster mt-2">
    <button class="btn btn-primary" (click)="submitUserRoster()">Submit Roster</button>
  </div>
}



